$primary-color: #efe6d5;
$secondary-color: #9dbeb7;
$accent-color: #e73213;
$font-family: 'Lato', sans-serif;

body {
  background-color: $secondary-color;
  font-family: $font-family;
  padding: 20px;
}

@import '~bootstrap/scss/bootstrap';
